<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="ElmahIoLogUrl" value="https://elmah.io/api/v2/messages?logid="/>
    <add key="ElmahIoLogId" value="YourLogGuid"/>
    <add key="EventLogXmlPath" value="Event/System[(EventRecordID = {eventRecordId})]"/>
  </appSettings>
</configuration>